.contactFormContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.contactFormContainer h1 {
    padding: 50px;
    font-size: 42px;
}

.contactFormContainerText {
    display: flex;
    flex-direction: column;
}

.contactFormContainerText p {
    padding: 10px 0;
}

.contactFormBorder {
    border-bottom: 1px solid white;
    padding-top: 70px;
}

.contactFormContainerText input {
    width: 660px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
}

.contactFormContainerText input::placeholder {
    padding: 15px;
}

.contactFormContainerText textarea {
    height: 130px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
}

.contactFormContainerText h5 {
    padding: 30px 0 15px 0;
    font-size: 14px;
}

.contactFormContainerText button {
    margin: 40px 0;
    height: 60px;
    width: 140px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #bb810e;

}